{% extends "data/BAUK/base_BAUK.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">

                        </li>
                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="card card-body">
                    <p> Apakah anda yakin ingin menghapus data proker {{dataprokerdelete.nama_kegiatan}}</p>
                    <p> yang diajukan oleh {{dataprokerdelete.id_Adminbem}}?</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <br>
                            <a class="btn btn-danger" href="{% url 'prokerBEM_BAUK' %}" role="button">Cancel</a>
                            <input type="submit" class="btn btn-success" name="Confirm"/>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}