{% extends "data/BEM/base_BEM.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- Project statustic start -->
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="">
                                    <div class="">
                                        <!-- Page-body start -->
                                        <div class="page-body">
                                            <!-- Basic table card start -->
                                            <div class="card">
                                                <div class="card-block table-border-style">
                                                    <form method="get">
                                                        <div class="row">
                                                            <a role="button" href="{% url 'form_tambagaleri' %}" style="margin-left: 2pc;" type="button" class="btn btn-success waves-effect" data-toggle="tooltip" data-placement="right" title="tambah data proposal">
                                                                Unggah foto
                                                            </a>
                                                        </div>
                                                        <br>
                                                    </form>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr class="bg-primary" style="text-align: center;">
                                                                    <th><p>No</p></th>
                                                                    <th><p>BEM</p></th>
                                                                    <th><p>foto</p></th>
                                                                    <th><p>hapus</p></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for data in image %}
                                                                <tr style="text-align: center;">
                                                                    <th><p>{{forloop.counter}}</p></th>
                                                                    <th><p>{{data.id_Adminbem}}</p></th>
                                                                    <td><p><img class="img-80 img" src="{{data.img.url}}" alt=""></p></td>
                                                                    <td>
                                                                        <a class="btn btn-danger" href="{% url 'delete_galeri' data.id %}" role="button" title="hapus data proposal">Hapus</a>
                                                                    </td>                                    
                                                                </tr>
                                                                {% endfor %}  
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                
                                            </div>
                                            <!-- Background Utilities table end -->
                                        </div>
                                        <!-- Page-body end -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Project statustic end -->
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>
{% endblock content %}