{% extends "data/BEM/base_BEM.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">

                        </li>
                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- Project statustic start -->
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="">
                                    <div class="">
                                        <!-- Page-body start -->
                                        <div class="page-body">
                                        </div>
                                        <div class="page-body">
                                            <!-- Basic table card start -->
                                            <div class="card">
                                                <div class="card-block table-border-style">
                                                    <form method="get">
                                                        <div class="row">
                                                            <div style="margin-left: 15px;">{{ filter_berita.form.judul| add_class:"form-control" }}</div>
                                                            <button class="btn btn-primary" type="submit" style="margin-left: 9px;">search</button>
                                                            <a role="button" href="{% url 'form_cobatambah' %}" style="margin-left: 2pc;" type="button" class="btn btn-success waves-effect" data-toggle="tooltip" data-placement="right" title="tambah data proposal">
                                                                Unggah Berita
                                                            </a>
                                                        </div>
                                                        <br>
                                                    </form>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr class="bg-primary" style="text-align: center;">
                                                                    <th><p>No</p></th>
                                                                    <th><p>Pengunggah</p></th>
                                                                    <th><p>BEM</p></th>
                                                                    <th><p>Judul</p></th>
                                                                    <th><p>waktu</p></th>
                                                                    <th><p>gambar</p></th>
                                                                    <th><p>edit</p></th>
                                                                    <th><p>hapus</p></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for data in berita %}
                                                                <tr style="text-align: center;">
                                                                    <th><p>{{forloop.counter}}</p></th>
                                                                    <td><p>{{data.id_Adminbem.nama_anggota}}</p></td>
                                                                    <td><p>{{data.id_Adminbem.jenis_bem}}</p></td>
                                                                    <td><p>{{data.judul}}</p></td>
                                                                    <td><p>{{data.date_created}}</p></td>
                                                                    <td><p><img class="img-80 img" src="{{data.gambar.url}}" alt=""></p></td>
                                                                    <td>
                                                                        <a class="btn btn-warning" href="{% url 'update_berita' data.id %}" role="button" title="hapus data proposal">Edit</a>
                                                                    </td> 
                                                                    <td>
                                                                        <a class="btn btn-danger" href="{% url 'delete_berita' data.id %}" role="button" title="hapus data proposal">Hapus</a>
                                                                    </td>                                                                  
                                                                </tr>
                                                                {% endfor %}  
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                
                                                
                                            </div>
                                            <!-- Background Utilities table end -->
                                        </div>
                                        <!-- Page-body end -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Project statustic end -->
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>
{% endblock content %}