{% extends "data/umum/main.html" %}
{% load static %}
{% block content %}
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="content"> 
      <div id="gallery">
        <figure>
          <header class="heading">Tentang aplikasi</header>
          <table>
            <tr>
              <td style="text-align: justify;">Apilkasi ini dirancang oleh Development untuk memenuhi kebutuhan informasi dan administrasi Badan eksekutif mahasiswa universitas nurul jadid secara umum, supaya dapat memudahkan dan membantu pengurus BEM dan BAUAK dalam menjalankan kegiatan kemahasiswaan sesuai prosedur yang tepat.</td>
            </tr>
          </table>
        </figure>
      </div>
    </div>
    <!-- / main body -->
  </main>
</div>
{% endblock content %}