{% extends "data/umum/main.html" %}
{% load static %}
{% block content %}
<div class="wrapper row5">
  <img src="{% static '/tumum/images/demo/boruto.jpg' %}" style="display:block; margin:auto;">
  <img src="{% static '/tumum/images/demo/boruto.jpg' %}" style="display:block; margin:auto;">
  <img src="{% static '/tumum/images/demo/boruto.jpg' %}" style="display:block; margin:auto;">
  <img src="{% static '/tumum/images/demo/boruto.jpg' %}" style="display:block; margin:auto;">
</div>
{% endblock content %}