{% extends "data/BEM/base_BEM.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- Project statustic start -->
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                        <div class="page-body">
                                            <!-- Basic table card start -->
                                            <div class="card">
                                                <div class="card-block table-border-style">
                                                    <form method="get">
                                                        <div class="row">
                                                            <div style="margin-left: 15px;">{{ filter_berkas.form.id_Adminbem| add_class:"form-control" }}</div>
                                                            <button class="btn btn-primary" type="submit" style="margin-left: 9px;">search</button>
                                                            <a role="button" href="{% url 'tambah_proposalbem' %}" style="margin-left: 2pc;" type="button" class="btn btn-success waves-effect" data-toggle="tooltip" data-placement="right" title="tambah data proposal">
                                                                Tambah Data
                                                            </a>
                                                        </div>
                                                        <br>
                                                    </form>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr class="bg-primary" style="text-align: center;">
                                                                    <th><p>No</p></th>
                                                                    <th><p>Pengunggah</p></th>
                                                                    <th><p>Jeni BEM</p></th>
                                                                    <th><p>Program kerja</p></th>
                                                                    <th><p>waktu</p></th>
                                                                    <th><p>berkas</p></th>
                                                                    <th><p>acara</p></th>
                                                                    <th><p>komunikasi</p></th>
                                                                    <th><p>perlengkapan</p></th>
                                                                    <th><p>status</p></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for data in berkas %}
                                                                <tr style="text-align: center;">
                                                                    <th><p>{{forloop.counter}}</p></th>
                                                                    <td><p>{{data.id_Adminbem.nama_anggota}}</p></td>
                                                                    <td><p>{{data.id_Adminbem.jenis_bem}}</p></td>
                                                                    <td><p>{{data.relasiproker}}</p></td>
                                                                    <td><p>{{data.date_created}}</p></td>
                                                                    <td><a href="{{data.file.url}}" title="lihat berkas proposal"><code>{{data.file}}</code></a></td>
                                                                    <td><p>Rp.{{data.acara}}</p></td>
                                                                    <td><p>Rp.{{data.konsumsi}}</p></td>
                                                                    <td><p>Rp.{{data.konsumsi}}</p></td>
                                                                    <td>
                                                                        <a class="btn btn-info waves-effect waves-light" href="{% url 'status_proposalbem' data.id %}" role="button" title="cek status pengajuan proposal">cek status</a>
                                                                    </td>                                                               
                                                                </tr>
                                                                {% endfor %}  
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Project statustic end -->
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}