{% extends "data/BEM/base_BEM.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <!-- Project statustic start -->
                        <div class="col-xl-11">
                            <div class="card proj-progress-card">
                                <div class="card-block">
                                    <h4 style="text-align: center;">
                                        <a href="{{tampil.id_Adminbem.foto_profil.url}}"><img src="{{tampil.id_Adminbem.foto_profil.url}}" style="width: 100px;"></a>
                                    </h4>
                                    <h4 style="text-align: center;">
                                        Status Laporan kegiatan
                                    </h4>
                                    <br>
                                    <br>
                                    <br>
                                    <table class="table">
                                        <head>
                                            <tr>
                                                <th><h6>Program kerja</h6></th>
                                                <th>: {{ tampil.id_proker.nama_kegiatan }} ({{ tampil.id_proker.tanggapan_proker }})</th>
                                            </tr>
                                            <tr>
                                                <th><h6>File LPJ</h6></th>
                                                <th>: <a href="{{tampil.file.url}}"><code>lihat dokumen</code></a></th>
                                            </tr>
                                            <tr>
                                                <th><h6>Dokumentasi kegiatan</h6></th>
                                                <th>: Berita dengan judul <a href="{% url 'pusatberita' %}"><code>"{{tampil.id_berita.judul}}"</code></a></th>
                                            </tr>
                                            <tr>
                                                <th><h6>Dana Kegiatan</h6></th>
                                                <th>: Rp. {{ tampil.anggaran_dana}}</th>
                                            </tr>
                                            <tr>
                                        </head>
                                    </table>
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs  tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Keputusan</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Catatan</a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content tabs card-block">
                                                <div class="tab-pane active" id="home1">
                                                    <p><h4>"{{ tampil.tanggapan_laporan }}"</h4></p>
                                                </div>
                                                <div class="tab-pane" id="messages1">
                                                    <p><h6>{{ tampil.catatan }}</h6></p>
                                                </div>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project statustic end -->
                    </div>
                </div>
                
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>
{% endblock content %}